html body{
    &.woocommerce-shop, &.woocommerce{
        ul.products {
            width: 100%;
            @extend .items-general-wrapper;
            padding: 0;
            grid-template-columns: 1fr 1fr 1fr;
            @include breakpoint(xl) {
                grid-template-columns: 1fr 1fr;
            }
            li.product {
                @extend .item-general;
                width: 100% !important;
                float: none;
                position: relative;
                border-radius: 20px;
                @include breakpoint(sm) {
                    padding: 10px;
                }
                a img {
                    max-width: 250px;
                    margin: 10px auto;
                }
                >a{
                    opacity: 1 !important;
                }
                .woocommerce-loop-product__title{
                    font-family: Roboto;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 34px;
                    letter-spacing: 0.035em; 
                    @include breakpoint(xxl) {
                        font-size: 20px;
                        line-height: 1.6;
                    }
                    @include breakpoint(sm) {
                        font-size: 14px;
                    }
                }
                .onsale{
                    top: 15px;
                    right: 15px;
                    margin: 0;
                    line-height: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0;
                    min-width: 0;
                    min-height: 0;
                    padding: 15px;
                    background: rgba(219, 3, 3, 1);
                }
                .price{
                    font-family: Rubik;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 29px;
                    letter-spacing: 0.142547145485878px;
                    text-align: left;
                    @include breakpoint(xxl) {
                        font-size: 24px;
                    }
                    @include breakpoint(sm) {
                        font-size: 16px;
                    }
                    del {
                        text-decoration: line-through rgba(51, 51, 51, 0.2);
                        *{
                            color: rgba(51, 51, 51, 0.2);
                        }
                    }
                    ins {
                        text-decoration: none;
                        *{
                            color: rgba(51, 51, 51, 1);
                            margin-left: 5px;
                        }
                    }
                    
                }
                .button {
                    @extend .lg;
                    @extend .btn-primary;
                    @extend .bright;
                    width: 100%;
                    @include breakpoint(xxl) {
                        padding: 10px;
                    }
                }
                .quantity {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: fit-content;
                    input{
                        text-align: center;
                        &.quantity-toggle-button{
                            font-size: 24px;
                            background: rgba(217, 217, 217, 0.58);
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            outline: none;
                            border: none;
                            &:hover{
                                background: rgba(0, 224, 79, 0.25);
                            }
                        }
                        &.input-text{
                           margin: 0;
                           width: 45px;
                           border: none;
                        }
                    }
                    input[data-action="minus"]{
                        font-size: 40px;
                    }
                    input[type="number"] {
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        appearance: textfield;
                    }
                }
            }
            &::before {
                display: none;
            }
        }
        .go-to-builder{
            width: fit-content;
            margin: 20px auto;
        }
    }
}